*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    background-color: beige;


}

img{
    width: 100%;

}


.imagen{
    width: 25%;
    box-shadow: border-box ;
    float: left;
    padding: 1em;
    
}

.texto{
    padding: 5px 0;
    float: right;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2px;

}



header{
    background-image: radial-gradient(circle at 38.66% 48%, #848dff 0, #486be5 50%, #004cca 100%);
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 20px;
}



footer{
    width: 100%;
    background-image: radial-gradient(circle at 38.66% 48%, #848dff 0, #486be5 50%, #004cca 100%);
    color: white;
    text-align: center;
    padding: 8px 0;
    bottom: 0;
    position:fixed
} 

